<% include ./partials/header %>

<div class="ui main text container">
  <div class="ui message">
    <div class="header">
      <h1 class="ui header">OAuth with PassportJS</h1>
    </div>
    <p>By Duminda Wanninayake :)</p>
  </div>
</div>

<% include ./partials/footer %>
