<% include ./partials/header %>

<div class="ui main text container">
  <button class="ui google plus button">
  <i class="plus circle icon"></i>
  Google Plus
</button>
</div>

<% include ./partials/footer %>
